openapi: 3.0.3
info:
  title: SovereignAqua Imperium-Habour PMA API
  version: 1.0.0
  description: Backend contract for membership, documents, projects, requests and governance.
servers:
  - url: https://www.sovereignaquaresearchanddevelopment.online/api
paths:
  /auth/me:
    get:
      summary: Return authenticated user
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Authenticated user }
        "401": { description: Authentication required }
  /organizations:
    get:
      summary: List approved public organizations
      responses:
        "200": { description: Organization directory }
  /organizations/onboard:
    post:
      summary: Submit an organization onboarding request
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OrganizationOnboarding" }
      responses:
        "201": { description: Organization onboarding submitted }
        "400": { description: Invalid onboarding request }
  /organizations/{organizationId}:
    get:
      summary: Get a public organization profile
      parameters:
        - name: organizationId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Organization profile }
        "404": { description: Organization not found }
  /projects:
    get:
      summary: List public projects and humanitarian initiatives
      responses:
        "200": { description: Project directory }
  /partnerships:
    get:
      summary: List public partnership opportunities
      responses:
        "200": { description: Partnership opportunities }
  /partnerships/requests:
    post:
      summary: Submit a partnership introduction request
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PartnershipRequest" }
      responses:
        "201": { description: Partnership request created }
        "401": { description: Authentication required }
  /funding/intake:
    post:
      summary: Submit a donation or voluntary grant intent
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/FundingIntent" }
      responses:
        "201": { description: Funding intent created }
        "400": { description: Invalid funding intent }
  /funding/me:
    get:
      summary: List funding records for the authenticated user
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Funding records }
        "401": { description: Authentication required }
  /impact:
    get:
      summary: List published impact summaries
      responses:
        "200": { description: Public impact summaries }
  /membership/applications:
    post:
      summary: Submit membership application
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MembershipApplication" }
      responses:
        "201": { description: Application created }
        "400": { description: Invalid application }
        "401": { description: Authentication required }
  /membership/me:
    get:
      summary: Get current member record
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Member record }
        "401": { description: Authentication required }
  /documents:
    get:
      summary: List documents available to the authenticated user
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Document list }
        "401": { description: Authentication required }
  /projects:
    get:
      summary: List visible projects
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Project list }
  /requests:
    post:
      summary: Create member request
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Request" }
      responses:
        "201": { description: Request created }
  /admin/membership/applications:
    get:
      summary: List applications for authorized administrators
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Application queue }
        "403": { description: Administrator access required }
  /admin/requests:
    get:
      summary: List administrative requests
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Request queue }
        "403": { description: Administrator access required }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    MembershipApplication:
      type: object
      required: [name, email, jurisdiction, interest_area, purpose]
      properties:
        name: { type: string, minLength: 2, maxLength: 200 }
        email: { type: string, format: email }
        jurisdiction: { type: string, minLength: 2, maxLength: 120 }
        interest_area: { type: string, maxLength: 120 }
        purpose: { type: string, minLength: 20, maxLength: 5000 }
    OrganizationOnboarding:
      type: object
      required: [name, type, country, region, primary_contact_email, mission]
      properties:
        name: { type: string, minLength: 2, maxLength: 240 }
        type: { type: string, maxLength: 100 }
        country: { type: string, minLength: 2, maxLength: 120 }
        region: { type: string, maxLength: 80 }
        official_website: { type: string, format: uri }
        primary_contact_email: { type: string, format: email }
        mission: { type: string, minLength: 20, maxLength: 5000 }
    PartnershipRequest:
      type: object
      required: [organization_id, request_type, description]
      properties:
        organization_id: { type: string }
        request_type: { type: string, maxLength: 100 }
        description: { type: string, minLength: 10, maxLength: 5000 }
    FundingIntent:
      type: object
      required: [funding_type, purpose]
      properties:
        funding_type:
          type: string
          enum: [voluntary_donation, restricted_donation, voluntary_grant, institutional_grant, sponsorship, in_kind, emergency_support]
        amount: { type: number, minimum: 0 }
        currency: { type: string, minLength: 3, maxLength: 10 }
        purpose: { type: string, minLength: 10, maxLength: 5000 }
        project_id: { type: string }
        organization_id: { type: string }
    Request:
      type: object
      required: [request_type, subject, description]
      properties:
        request_type: { type: string, maxLength: 100 }
        subject: { type: string, minLength: 3, maxLength: 200 }
        description: { type: string, minLength: 5, maxLength: 5000 }
